streamlit
pyannote.audio
transformers
openai-whisper
whisper
openai
torch
torchaudio
ffmpeg-python
librosa
soundfile
numpy
pandas
pydub
soundfile
pydub
wandb
rouge_score
matplotlib
soundfile
sounddevice
torch>=1.10.0
transformers
scipy
pyannote.audio